<!-- 
@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
-->

<address>
    Tampere<br />
    Finland<br />
    <abbr title="Phone">P:</abbr>
    xxx-xxxx-xxx
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:support@newspek.com">support@newspek.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:marketing@newspek.com">marketing@newspek.com</a>
</address>