@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Newspek demo</h1>
    <p class="lead">Testialusta uutisportaalille</p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Ready Functionalities</h2>
        <p>
            Login paikalliskäyttäjällä (yksinkertaisesti tehtynä) tai Facebook tunnuksilla.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Competition</h2>
        <p>Ketä muita on:</p>
        <p><a class="btn btn-default" href="http://www.ampparit.com"> Ampparit</a></p>
    </div>

</div>